/*This file contains all application-wide CSS variables.*/

$c-active: #31c4cc;
$c-white: #fff;
$c-black: #4a4a4a;
$c-lite-black: #666;
$c-lite-gray: #e5e5e5;

$fs-tiny: .75rem;           /* 12px */
$fs-small: .875rem;         /* 14px */
$fs-normal: 16px;
$fs-big: 1.125rem;          /* 18px */
$fs-bigger: 1.25rem;        /* 20px */
$fs-biggest: 1.375rem;      /* 22px */

$fs-title-tiny: 1.5rem;     /* 24px */
$fs-title-small: 1.625rem;  /* 26px */
$fs-title: 2rem;            /* 32px */
$fs-title-big: 2.25rem;     /* 36px */
