/*This file contains very basic styles.*/

/**
 * Set up a decent box model on the root element
 */
html {
  box-sizing: border-box;
}

/**
 * Make all elements from the DOM inherit from the parent box-sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
*, *::before, *::after {
  box-sizing: inherit;
}

html,
body {
	margin: 0;
	padding: 0;
}

body {
  font-family: 'Open Sans', Arial, 'Hiragino Sans GB', 'Microsoft YaHei', 微软雅黑, STHeiti, 'WenQuanYi Micro Hei', SimSun, sans-serif;
  -webkit-font-smoothing: antialiased;
  color: $c-black;
  font-size: $fs-normal;
}

#app {
  min-width: 968px;
  height: 100vh;
  background: $c-white;
}

.route-change-enter {
  opacity: 0.01;
  transition: opacity .4s ease-in-out;
}

.route-change-enter-active {
  opacity: 1;
}

.route-change-leave {
  opacity: 1;
  transition: opacity .4s ease-in-out;
}

.route-change-leave-active {
  opacity: 0.01;
}
